<form method="POST" action="/count">
  <div class="form-group mb-2">
    <label for="url">Enter the links you want to count the words from together.</label>
    <textarea name="urls" class="form-control  form-control-lg"></textarea>
  </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


